body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/10_desktop_background/desktop_background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFBE35;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #FFBE35;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.d-none {
    display: none !important;
}

.rotate-message {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFBE35;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 22px;
    z-index: 10;
}

.rotate-message p {
    padding: 20px;
    text-align: center;
}

#startQuestion {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
    text-align: center;
}

#btnLeft,
#btnRight,
#btnJump,
#btnThrow {
    background-image: url(../img/12_icons/arrow_mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42px;
    width: 42px;
    bottom: 15px;
    position: absolute;
    z-index: 10;
    display: none;
    border-radius: 55%;
}

#btnLeft {
    left: 15px;
    transform: rotate(180deg);
}

#btnRight {
    left: 85px;
}

#btnJump {
    right: 85px;
    transform: rotate(270deg);
}

#btnThrow {
    background-image: url(../img/12_icons/throw_mobile.png);
    right: 15px;
}

.mute-button {
    border: 2px solid #7F559E;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFBE35;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.mute-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
}

#muteButtonCanvas {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.btn {
    border: 3px solid #7F559E;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFBE35;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 15px 30px;
    margin: 20px;
    width: 190px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #7F559E;
}

@font-face {
    font-family: 'Rye';
    src: url('fonts/Rye-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#startScreen,
#gameoverScreen,
#gamewonScreen {
    display: flex;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
    border-radius: 30px;
    border: 5px solid #7F559E;
}

#startScreen img,
#gameoverScreen img:nth-child(2),
#gamewonScreen img:nth-child(2) {
    position: relative;
    z-index: 1;
    width: 720px;
    height: 480px;
    border-radius: 24px;
}

.start-game-btn {
    position: absolute;
    z-index: 4;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    background: #FFBE35;
    border: 2.5px solid black;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    animation: pulse 1.5s infinite;
    transition: color 0.5s ease, background-color 0.5s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1) skew(-35deg);
    }

    50% {
        transform: scale(1.04) skew(-35deg);
    }

    100% {
        transform: scale(1) skew(-35deg);
    }
}

.start-game-btn:hover {
    cursor: pointer;
    background: #7F559E;
}

.second-layer-img {
    position: absolute;
    z-index: 3;
    width: 720px;
    height: 480px;
    border-radius: 24px;
}

.canvas-container {
    position: relative;
    display: inline-block;
}

canvas {
    display: block;
    box-sizing: border-box;
    background-color: black;
    border-radius: 30px;
    border: 5px solid #7F559E;
    position: relative;
}

.controls-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.controls span {
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    color: #FFBE35;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.arrow-right,
.arrow-left,
.arrow-up {
    width: 80px;
    height: 50px;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-up {
    transform: rotate(270deg);
}

.d-key {
    width: 65px;
    height: 65px;
}

.imprint-container {
    overflow-x: auto;
    scrollbar-color: rgba(255, 190, 53, 0.5) rgba(0, 0, 0, 0.5);
    scrollbar-width: thin;
    padding: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.imprint-container h1 {
    margin-top: 10px;
}

.imprint-container p {
    font-size: 16px;
}

.imprint-container a {
    color: white;
}

.imprint-container a:hover {
    cursor: pointer;
}

.privacy-container {
    overflow-x: auto;
    scrollbar-color: rgba(255, 190, 53, 0.5) rgba(0, 0, 0, 0.5);
    scrollbar-width: thin;
    padding: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.privacy-container h1 {
    margin-top: 10px;
}

.privacy-container p {
    font-size: 16px;
}

.privacy-container a {
    color: white;
}

.privacy-container a:hover {
    cursor: pointer;
}

.legal-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 30px;
    font-family: 'Rye', serif;
    font-size: 18px;
}

.return-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFBE35 !important;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.return-container:hover {
    cursor: pointer;
    color: #7F559E !important;
}

.arrow-back {
    transform: rotate(180deg);
    width: 50px;
}

.legal-link {
    color: #FFBE35;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 5px rgba(0, 0, 0, 0.4),
        2px -2px 5px rgba(0, 0, 0, 0.4),
        -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.legal-link:hover {
    cursor: pointer;
    color: #7F559E;
}

/* For screens narrower than 720px */
@media only screen and (max-width: 720px) {

    canvas,
    #startScreen,
    #gameoverScreen,
    #gamewonScreen {
        width: 100%;
        border-radius: 0px;
        border: none;
        box-sizing: border-box;
    }

    .canvas-container {
        width: 100%;
    }

    #startScreen img,
    #gameoverScreen img:nth-child(2),
    #gamewonScreen img:nth-child(2),
    .second-layer-img {
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }

    .btn {
        width: 170px;
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    .h1-legal {
        display: block;
    }
}

/* For screens lower than 800px */
@media only screen and (max-height: 800px) {
    .main-h1 {
        display: none;
    }
}

/* For screens lower than 480px */
@media only screen and (max-height: 480px) {

    canvas,
    #startScreen,
    #gameoverScreen,
    #gamewonScreen {
        height: 100vh;
        border-radius: 0px;
        border: none;
        box-sizing: border-box;
    }

    .canvas-container {
        height: 100vh;
    }

    .controls {
        display: none;
    }

    #startScreen img,
    #gameoverScreen img:nth-child(2),
    #gamewonScreen img:nth-child(2),
    .second-layer-img {
        height: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }
}

/* For screens narrower than 940px and lower than 480px */
@media only screen and (max-width: 940px) and (max-height: 480px) {

    canvas,
    #startScreen,
    #gameoverScreen,
    #gamewonScreen {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        border: none;
        box-sizing: border-box;
    }

    .canvas-container {
        width: 100%;
        height: 100vh;
    }

    #startScreen img,
    #gameoverScreen img:nth-child(2),
    #gamewonScreen img:nth-child(2),
    .second-layer-img {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }

    .btn {
        width: 170px;
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    .h1-legal {
        display: block;
    }

    .controls,
    .legal-container {
        display: none;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        display: block;
    }

    .start-game-btn {
        font-size: 24px;
    }
}