<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/11_favicon/logo1.webp">
    <title>Imprint</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <h1>Imprint</h1>

    <p>Information according to § 5 TMG</p>

    <p>Oliver Drexler
        Tucherstraße 22
        90403 Nürnberg
        <b>Represented by:</b>
        Oliver Drexler
        <b>Contact:</b>
        Phone: +49-1607760235
        Email: oliverdrexler@web.de</p>

    <h3>Disclaimer:</h3>

    <h3>Liability for content</h3>

    The content of our pages has been created with the utmost care. However, we cannot guarantee the accuracy,
    completeness, and timeliness of the content. As a service provider, we are responsible for our own content on these
    pages according to § 7 Abs.1 TMG under general law. According to §§ 8 to 10 TMG, we are not obligated as a service
    provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate
    illegal activity. Obligations to remove or block the use of information under general laws remain unaffected.
    However, liability in this regard is only possible from the point in time at which we become aware of a specific
    legal violation. Upon becoming aware of such legal violations, we will remove this content immediately.

    <h3>Liability for links</h3>

    Our offer contains links to external third-party websites, the content of which we have no influence over.
    Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the
    sites is always responsible for the content of the linked pages. The linked pages were checked for possible legal
    violations at the time of linking. Illegal content was not recognizable at the time of linking. However, permanent
    control of the content of the linked pages is not reasonable without concrete indications of a violation of the law.
    Upon becoming aware of legal violations, we will remove such links immediately.

    <h3>Copyright</h3>

    The content and works created by the site operators on these pages are subject to German copyright law. The
    duplication, processing, distribution, and any kind of exploitation outside the limits of copyright law require the
    written consent of the respective author or creator. Downloads and copies of this site are only permitted for
    private, non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of
    third parties are respected. In particular, third-party content is marked as such. Should you nonetheless become
    aware of a copyright infringement, we request that you notify us accordingly. Upon becoming aware of legal
    violations, we will remove such content immediately.

    <h3>Privacy</h3>

    The use of our website is generally possible without providing personal data. Insofar as personal data (such as
    name, address, or email addresses) is collected on our pages, this is always done on a voluntary basis as much as
    possible. This data will not be passed on to third parties without your explicit consent. We point out that data
    transmission over the internet (e.g., when communicating via email) can have security vulnerabilities. A complete
    protection of the data against access by third parties is not possible. The use of contact data published within the
    framework of the imprint obligation by third parties for sending not expressly requested advertising and information
    materials is hereby expressly prohibited. The operators of the pages expressly reserve the right to take legal
    action in the event of unsolicited sending of advertising information, such as spam emails.

    <h3>Google Analytics</h3>

    This website uses Google Analytics, a web analytics service provided by Google Inc. ("Google"). Google Analytics
    uses "cookies," which are text files placed on your computer, to help the website analyze how users use the site.
    The information generated by the cookie about your use of this website (including your IP address) will be
    transmitted to and stored by Google on servers in the United States. Google will use this information to evaluate
    your use of the website, to compile reports on website activity for website operators, and to provide other services
    related to website activity and internet usage. Google may also transfer this information to third parties if
    required by law or if third parties process this data on behalf of Google. Google will not associate your IP address
    with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your
    browser; however, please note that if you do this, you may not be able to use the full functionality of this
    website. By using this website, you consent to the processing of data about you by Google in the manner and for the
    purposes set out above.

    <h3>Google AdSense</h3>

    This website uses Google AdSense, a web advertising service provided by Google Inc., USA ("Google"). Google AdSense
    uses "cookies," which are text files placed on your computer, to help the website analyze how users use the site.
    Google AdSense also uses so-called "web beacons" (small invisible graphics) to collect information. Through the use
    of web beacons, simple actions such as visitor traffic on the website can be recorded and collected. The information
    generated by the cookie and/or web beacon about your use of this website (including your IP address) will be
    transmitted to and stored by Google on servers in the United States. Google will use this information to evaluate
    your use of the website with regard to the ads, to compile reports on website activity and ads for the website
    operators, and to provide other services related to website and internet usage. Google may also transfer this
    information to third parties if required by law or if third parties process this data on behalf of Google. Google
    will not associate your IP address with any other data held by Google. You may refuse the use of cookies by
    selecting the appropriate settings on your browser; however, please note that if you do this, you may not be able to
    use the full functionality of this website. By using this website, you consent to the processing of data about you
    by Google in the manner and for the purposes set out above.

    Imprint from the <a href="https://www.impressum-generator.de">imprint generator</a> of the <a
        href="https://www.kanzlei-hasselbach.de/">Hasselbach law firm, attorneys for labor law and family law.</a>

</body>

</html>